{% set project = load_lua(path="config/project.lua") -%}
{% set personal = load_lua(path="config/personal.lua") -%}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ project.NAME }}</title>
		<link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
		<link rel="icon" type="image/x-icon" href="../static/favicon.ico"/>
		<meta name="Description" content="{{ project.DESCRIPTION_SHORT }}"/>
		<meta name="Keywords" content="{{ personal.FULLNAME }}, {{ personal.SLUG }}, {{ project.NAME }}, {{ project.KEYWORDS | join(sep=", ") }}"/>
	</head>
	<body>
		<h1>Welcome to the <i>{{ project.NAME }}</i> web site</h1>
		<p>Some related <b>{{ project.NAME }}</b> project links:</p>
		<ul>
			<li>
			The <b>{{ project.NAME }}</b> github project is <a title="{{ project.NAME }} github project" href="https://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}">here</a>
			</li>
			<li>
			The <b>{{ project.NAME }}</b> web site for the project is <a title="{{ project.NAME }} web site" href="https://{{ personal.GITHUB_USERNAME }}.github.io/{{ project.NAME }}">here</a>
			</li>
			<li>
			The <b>{{ project.NAME }}</b> git clone link is <a title="{{ project.NAME }} git clone link" href="git://github.com/{{ personal.GITHUB_USERNAME }}/{{ project.NAME }}.git">here</a>

			</li>
			<li>
		</ul>
		<p>
			Copyright {{ personal.FULLNAME }} © {{ copyright_years() }}
			<a href="mailto:{{ personal.EMAIL }}">{{ personal.EMAIL }}</a>
		</p>
	</body>
</html>
